*
{
	margin: 0;
	padding: 0;
}
.row
{
	max-width: 1140px;
	margin: 0 auto;
}
body
{
	font-family:tahoma; 
}
.hero
{
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
 header
{
	background-image:url(img/pic2.jpg);
	height:100vh;
	background-position: center;
	background-size:cover;
}

img{
    max-width: 100%;
}

h1
{
	color: black;
}
.main-nav
{float: right;
margin-top: 60px;
list-style: none;
}
.main-nav li
{
	display:inline-block;
	margin-left: 20px;
}
.main-nav li a
{
	color: black;
	text-decoration: none;
	font-size: 90%
	font-weight:bold;

}
.main-nav li a:hover
{
	color: #e67e22;
	border-bottom: 2px solid #e67e22;
	transition: all 0.5s ease-in;
	padding: 15px 0 ;
}
.btn
{
	border:1px solid white;
	padding:10px 30px;
	text-decoration: none;
	border-radius: 12px;
	margin-right: 15px

	}
.button-awesome
{
	margin-top:40px;
}

.btn-half
{
background-color:#e67e22; 
color:white;
}
.btn-full:hover
{
background-color:#e67e22; 
color:white;
transition: all 0.5s ease-in;
}